@model NauMain.Models.Admin.Student
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
<script type="text/javascript" src="~/js/lib/jquery.js"></script>
<script type="text/javascript" src="~/js/script/group.js"></script>
<title>Документ без названия</title>
</head>
    <body>
        <h2>EditStudent</h2>

        @using (Html.BeginForm())
        {
            <div class="editor-field">
            @Html.LabelFor(m => m.Login)
            @Html.EditorFor(m => m.Login)
            </div>
            <div class="editor-field">
            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name)
            </div>
            <div class="editor-field">
            @Html.LabelFor(m => m.Password)
            @Html.EditorFor(m => m.Password)
            </div>
            <div class="editor-field">
            @Html.LabelFor(m => m.SubgroupNumber)
            @Html.EditorFor(m => m.SubgroupNumber)
            </div>
            <div class="editor-field">
            @Html.LabelFor(m => m.Id)
            @Html.EditorFor(m => m.Id)
            </div>
            <div class="editor-field">
            @Html.LabelFor(m => m.GroupId)
            @Html.EditorFor(m => m.GroupId)
            </div>
            <button type="submit">Save</button>
        }
        @using (Html.BeginForm("DeleteStudent","Groups"))
        {
            if (Model.Id != null)
             {
                 <div style="display: none">
                      <input type="text" name="groupId" id="groupId" value="@Model.GroupId"/>
                      <input type="text" name="studentId" id="studentId" value="@Model.Id"/>    
                      <button type="submit" id="del-student">Delete</button>
                 </div>
               
             }
        }
    </body>
</html>

