@using DataBaseLibrary.Entities
@model NauMain.Models.Admin.DataContainer<List<DataBaseLibrary.Entities.Schedule>>

@functions {
    private string[] dayOfWeek = new string[] {"Понедельник", "Вторник", "Среда", "Четвер", "Пятница", "Субота", "Воскресенье"};
}

@{
}

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
        <script type="text/javascript" src="/js/lib/jquery.js"> </script>

        <script type="text/javascript" src="/js/script/group.js"> </script> 
        <script type="text/javascript">
            $(function() {
                $('.fixable_0').height(Math.max($('.table.first').first().height(), $('.table.last').first().height()) + 35);
            })
        </script>    

        <title>Документ без названия</title>
    
        @helper buildGroupshcedule(Schedule schedule, int numb)
        {
            <div class="table first">
                <p>Перший тиждень</p>
                <div class="line-field title">
                    <span class="days">Дни</span>
                    <span class="room">Аудитория</span>
                    <span class="subject">Предмет</span>
                    <span class="groop">Преподователь</span>
                </div>
                @for (int i = 0; i < 7; i++)
                {
                    try
                    {
                        @buildDay(schedule.Items.Where(it => it.NumberOfDay == i).OrderBy(it => it.Order).ToList(), i,  dayOfWeek[i], schedule.Id, numb)
                    }
                    catch (NullReferenceException)
                    {
                        @buildDay(new List<Item>(), i,  dayOfWeek[i], null, numb);
                    }

                }
            </div>

            <div class="table last">
                <p>Другий тиждень</p>
                <div class="line-field title">
                    <span class="days">Дни</span>
                    <span class="room">Аудитория</span>
                    <span class="subject">Предмет</span>
                    <span class="groop">Преподователь</span>
                </div>
                @for (int i = 7; i < 14; i++)
                {
                    try
                    {
                        @buildDay(schedule.Items.Where(it => it.NumberOfDay == i).OrderBy(it => it.Order).ToList(), i,  dayOfWeek[i - 7], schedule.Id, numb)
                    }
                    catch (NullReferenceException)
                    {
                        @buildDay(new List<Item>(), i, dayOfWeek[i - 7], null, numb);
                    }

                }
            </div>
        }
    
        @helper buildDay(List<Item> items, int dayNumber, string dayOfWeekName, Guid? scheduleId, int numb)
            {
            <div class="line-field title">
                <span class="days">@dayOfWeekName</span>
                <span class="room"></span>
                <span class="subject"></span>
            <span class="groop"><p class="button" id="?scheduleId=@scheduleId&dayNumber=@dayNumber&subgroupNumber=@numb&order=@items.Count">Добавить</p></span>
            </div>

                foreach (var item in items)
                {
                <div class="line-field schedule" id ="?itemId=@item.Id">
                    <span class="days">@(item.Order + 1)</span>
                    <span class="room">@item.Audience</span>
                    <span class="subject">@item.CourceName</span>
                    <span class="groop">@item.AdditionalInformation</span>
                </div>
                }        
       }

    </head>
    <body>
        <span class="id" id="@Model.DataId"></span>
        <div id="wrraper">
            <div class="body">
                <div class="menu">
                    <ul>
                        <li class="list first" id="slide_0">Список групп</li>
                        <li class="list active" id="slide_1">Расписание</li>
                        <li class="list last" id="slide_2">Управление студентами</li>
                    </ul>
                </div>
        
                <div class="timetable main-block first">
                    @for (int i = 0; i < Model.Data.Count; i++ )
                    {
                        <div class="fixable_@i">
                            <h4>@(i+1) -a Підгрупа</h4>
                            @buildGroupshcedule(Model.Data[i], i)
                        </div>
                        
                    }
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </body>
</html>